[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
SQLAlchemy = "*"
marshmallow = "*"
Flask-SQLAlchemy = "*"
flask_marshmallow = "*"
marshmallow-sqlalchemy = "*"
psycopg2 = "*"
psycopg2-binary = "*"
gunicorn = "*"
requests = "*"
setuptools = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.8"
